body {
  font-family: Arial;
  background: #f2f2f2;
}

.chat-box {
  width: 300px;
  margin: 50px auto;
  background: white;
  padding: 10px;
  border-radius: 5px;
}

#messages {
  height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 5px;
}

input {
  width: 70%;
  padding: 5px;
}

button {
  width: 25%;
  padding: 5px;
}
